
div {
  border: solid black 0px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.card img {			
  max-width: 100%;
}
.title {
  font-size: 1.5rem;
}

@media (min-width: 680px) {
  .card {
    flex-direction: row;
    padding: 10px;
  }
  .content {
    display: flex;
		flex-wrap: wrap;
    margin-left: 10px;
  }
  .card div {
    width: 100%;
  }
  .footer {
    display: flex;
    align-self: flex-end;
  }			
  .footer div {
    max-width: 50%;
  }
  .date {
    text-align: left;
  }
  .more {
    text-align: right;
  }
}